In [1]:
import requests
import pandas as pd

In [3]:
data = requests.get(f"http://127.0.0.1:8000/leaderboard?image_id=1&k=5").json()
data

[{'similarity_score': 0.6945773363113403,
  'id': 1,
  'leaderboard_name': 'Harry',
  'guess_description': 'That is a happy dog',
  'image_id': 1},
 {'similarity_score': 0.5978719592094421,
  'id': 3,
  'leaderboard_name': '',
  'guess_description': 'A dinosaur',
  'image_id': 1}]

In [11]:
df = pd.DataFrame.from_records(data, columns=["leaderboard_name", "similarity_score"])
df["similarity_score"] = df["similarity_score"].round(4)
df

  leaderboard_name  similarity_score
0            Harry            0.6946
1                             0.5979